<!DOCTYPE html>
<html>
<body>

<h2>All City Details</h2>

<form action="/allDetailsCities" method="POST">
  <label>City Code</label>
  <input type="text" name="code" value = "<%=cty_code%>"><br>
  <label>City Name</label>
  <input type="text" name="name" value = "<%=cty_name%>"><br>
  <label>City Population</label>
  <input type="text" name="pop" value = "<%=population%>"><br>
  <label>By the Sea</label>
  <input type="text" name="coast" value = "<%=is_Coastal%>"><br>
  <label>Area (KM)</label>
  <input type="text" name="area" value = "<%=areaKM%>"><br><br><br>

  <label>Country Code</label>
  <input type="text" name="co_code" value = "<%=co_code%>"><br>
  <label>Country Name</label>
  <input type="text" name="co_name" value = "<%=co_name%>"><br>


  

</form> 
<a href="\">Home</a>

</body>
</html>